/**
 * Content.scss
 *
 * Styling of specific content pieces
 */

/**
 * Styling of an individual article
 */
article, .article {
	background: $color-white;
	padding: $size-medium;
}

.post-date {
	p {
		color: $color-grey-text;
		font-size: $font-size-tiny;
		text-transform: uppercase;
	}
}
