/**
 * Typography.scss
 *
 * Typically I would be placing an entire typographic write up myself in here,
 * but Foundation5 Type styles are great. They will be included, additional
 * tweaks will be made here.
 */

/**
 * Headers
 */
h1 {
	font-size: $header-size-large;
	line-height: 1.3;
	margin: $size-medium 0;
}

// Keystrokes
kbd {
	@include keystroke($color-grey-light);
	border-radius: $size-border-radius;
}

code {
	font-weight: $font-weight-normal;
}

// Better code alignment in posts
.post-content pre {
	margin-bottom: $size-medium;
}

/**
 * Styling specific links
 */
.post-content a:not(.button) {
	@include bordered-link();
}

.post-footer a {
	@include bordered-link($color-grey-text);
}

.post-content ul, .post-content ol {
	margin: 0 0 $size-medium $size-medium;

	li {
		margin-bottom: $size-tiny;
	}
}
